PORT=3000
GOOGLE_MAPS_API_KEY="your-google-maps-api-key"
LANDBOT_CONFIG_URL=landbot_config.json
WA_ED_URL=https://www.health.wa.gov.au/reports-and-publications/emergency-department-activity/data?report=ed_activity_now
WA_ED_CACHE_SECONDS=120
